---
import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import SocialList from "@/components/SocialList.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import meImg from "@/assets/me.png";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="flex flex-col items-center md:flex-row-reverse">
		<div class="mb-10 flex-shrink-0 md:ml-6">
			<div class="h-[200px] w-[200px]">
				<Image
					class="h-full w-full rounded-3xl object-cover"
					src={meImg}
					alt="It's me"
					loading="eager"
				/>
			</div>
		</div>
		<div class="flex-1">
			<h1 class="title mb-4">Halo ✋</h1>
			<p class="mb-4 leading-8">
				Saya Rizkal Lamaau. Saya seorang Generalis yang bekerja dengan Bahasa Pemrograman PHP &
				Javascript dengan Framework Populer seperti Laravel dan NodeJS untuk Backend dan React, Vue
				dan Tailwind untuk Frontend.
			</p>
			<SocialList />
		</div>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
